<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/passFind.css" />
  </head>
  <body>
    <form action="/pwFind" method="post">
      <div>
        <h2>비밀번호 찾기</h2>
        <div>email</div>
        <input
          type="email"
          placeholder="이메일을 입력해주세요"
          name="id"
          id="input_Id"
          required
        />
      </div>
      <button type="submit" id="submitBtn">확인</button>
      <div id="show_password"></div>
    </form>
  </body>
  <script src="/js/passFind.js"></script>
</html>
